<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>长安818 保养无穷惠</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="description" content="长安商城818爱车节保养专区，长安汽车长安欧尚官方保养秒杀击破底价，下单即有礼" />
	<meta name="keyword" content="汽车保养、长安汽车保养、长安保养、官方保养、欧尚保养" />
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/index.css">
</head>

<body>
	<div class="box">
		<div class="inner-box content">

		</div>
	</div>
	</div>
	<script>
		var hm = document.createElement("script");
               hm.src = "https://hm.baidu.com/hm.js?30fda721a836ca30a2c397fcff17f90f";
               var s = document.getElementsByTagName("script")[0];
               s.parentNode.insertBefore(hm, s);

	</script>
</body>

</html>