.title,.content{
  font-size: 14px;
    line-height:20px;    
}
.content-right-nav{
    position:relative;    
    margin-top: 5px;
    &:first-child{
      margin-top: 0;
    }
    text-align: left;
    .title{
      color: #fff;
    }
    input{
        width:100%;
        border: none;
        height: 24px;
    }    
}
