.title, .content {
  font-size: 14px;
  line-height: 20px; }

.content-right-nav {
  position: relative;
  margin-top: 5px;
  text-align: left; }
  .content-right-nav:first-child {
    margin-top: 0; }
  .content-right-nav .title {
    color: #fff; }
  .content-right-nav input {
    width: 100%;
    border: none;
    height: 24px; }
