.nav{
    width:100px;
    height:100%;
    border-right:1px solid #000;
    li{
        line-height:44px;
        padding:0 10px;
        background-color:rgb(226, 205, 14);
        border-bottom:1px solid #dedede;
        cursor:pointer;
    }
}