* {
  padding: 0;
  margin: 0;
}
.content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.img-box{
  position: relative;
  font-size:0;
}
.img-box img{
  width:100%;
  height:auto;
  display: block;
}
body{
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.btn {
  position: absolute;
  z-index: 3;
  background:rgba(0,0,0,0.5)
}