*{
    padding:0;
    margin:0;
}
li,ol{
    list-style:none;
}
html,body{
    height:100%;
}
#content{
    height:100%;
}
#root{
    height:100%;
    .wrap{
        position: relative;
        padding-left:100px;
        .left{
            position: fixed;;
            left:0;
            top:100px;;
        }
    }
}